# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.g.dart
*.freezed.dart

# Android
android/.gradle/
android/local.properties
android/key.properties
*.jks
*.keystore

# Firebase — مهم جداً
google-services.json
firebase_options.dart
.firebase/

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Env
.env
*.env
secrets.dart
*.log
*.txt
TODO.md
android/hs_err_*.log
android/replay_*.log